doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      nav
        div.container
          h3 Refined Review
          ul.nav.justify-content-end.main-nav
            li.nav-item
              a.nav-link(href='/') Review and see restaurants
            if user
              li.nav-item
                a.nav-link(href='#') Hello #{user.first_name}
              li.nav-item
                a.nav-link(href='/logout') Logout
            else
              li.nav-item
                a.nav-link(href='/login') Login
              li.nav-item
                a.nav-link(href='/register') Register
      div.container
        block content