doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      block content
        div.container
          div.card
            div.card-header
            div.card-body