mixin restuarantCard(restaurant)
    a.card(href=`/restaurant/${restaurant.id}`)
        image.card-image(src=restaurant.image)
        div.card-body
            div.card-title=restaurant.name
            p.published-on Owned by
                strong.emphasize #{restaurant.owner.first_name}