mixin userImage(userImage)
    div
        h3 by #{userImage.user_name}
        div
            img.uImage(src = userImage.user_image)
        if user && user.is('admin')
            a(href = `/userImage/${userImage.id}/delete`) Delete