extends ../layout

block content
    include ../mixins/restaurantForm
    div.content
        +restaurantForm(restaurant, 'Update', `/restaurant/${restaurant.id}/edit`,`/restaurant/${restaurant.id}`, `/restaurant/${restaurant.id}/delete`)