extends ../layout

block content
    include ../mixins/restaurantCard
    div.articles-header
        div.article-header-title Restaurant Selection
        div
            if user && user.is('owner')
                a.button.primary(href = '/restaurant/add') Add Your Restaurant

    ul.article-list
        each restaurant in restaurants
            li
                +restuarantCard(restaurant)